<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div style="text-align: right">
            {{ request.user.username }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button>로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">로그인</a>
                <a href="{% url 'signup' %}">회원가입</a>
            {% endif %}
        </div>
    </nav>
</body>
</html>